<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=fa9467d8-637f-43ac-8a4c-3c8df0e03e93"
    type="text/javascript"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <title>{{htmlWebpackPlugin.options.title}}</title>
</head>

<body>
  <div class="container">
    {{> "./src/geo-content.hbs"}}
  </div>
</body>

</html>